body {
    background: black;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1{
    font-family: monospace;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: whitesmoke;

}

label{
    font-size: 1.2rem;
    font-weight: 600;

}

input{
    max-width: 350px;
    width: 90%;
    height: 30px;
    border-radius: 20px;
    background: white;
    padding: 5px;
    font-size: 1.2rem;
    color: Black;
    text-align: center;

}

img{
    width: 90%;
    max-width: 350px;
    margin-top: 30px;
    border-radius: 10px;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

